/*  --------------------------------------------------
    $CONTENTS
    --------------------------------------------------
    :: box-sizing: border-box;
    :: NORMALIZE
    :: MAIN
    :: HEADINGS
    :: IMPRESS
    :: CODE
    :: MISC
    :: PRINT

    --------------------------------------------------
    $CREDITS
    --------------------------------------------------
    :: * { box-sizing: border-box } FTW :: Paul Irish                          :: http://paulirish.com/2012/box-sizing-border-box-ftw/
    :: normalize.css                    :: Nicolas Gallagher and Jonathan Neal :: http://necolas.github.com/normalize.css/
    :: Solarized Light code theme       :: Ported by Jeremy Hull               :: https://github.com/isagalaev/highlight.js/blob/master/src/styles/solarized_light.css
    :: Non-semantic helper classes      :: H5BP Team                           :: https://github.com/h5bp/html5-boilerplate/blob/master/css/style.css#L248-270
    :: Print styles                     :: H5BP Team                           :: https://github.com/h5bp/html5-boilerplate/blob/master/css/style.css#L274-292
*/

* {
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1 */
}

/*  --------------------------------------------------
    $NORMALIZE
    -------------------------------------------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary { display: block }
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] { display: none }
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea { font-family: sans-serif }
body { margin: 0 }
a:focus { outline: thin dotted }
a:hover,
a:active { outline: 0 }
h1 {
    font-size: 2em;
    margin: .67em 0;
}
h2 {
    font-size: 1.5em;
    margin: .83em 0;
}
h3 {
    font-size: 1.17em;
    margin: 1em 0;
}
h4 {
    font-size: 1em;
    margin: 1.33em 0;
}
h5 {
    font-size: .83em;
    margin: 1.67em 0;
}
h6 {
    font-size: .75em;
    margin: 2.33em 0;
}
abbr[title] { border-bottom: 1px dotted }
b,
strong { font-weight: bold }
blockquote { margin: 1em 40px }
dfn { font-style: italic }
mark {
    background: #ff0;
    color: #000;
}
p,
pre { margin: 1em 0 }
pre,
code,
kbd,
samp {
    font-family: monospace,serif;
    _font-family: 'courier new',monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q { quotes: none }
q:before,
q:after {
    content: '';
    content: none;
}
small { font-size: 75% }
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em }
sub { bottom: -0.25em }
dl,
menu,
ol,
ul { margin: 1em 0 }
dd { margin: 0 0 0 40px }
menu,
ol,
ul { padding: 0 0 0 40px }
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
svg:not(:root) { overflow: hidden }
figure { margin: 0 }
form { margin: 0 }
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}
legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button,
input { line-height: normal }
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}
button[disabled],
input[disabled] { cursor: default }
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none }
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  --------------------------------------------------
    $MAIN
    -------------------------------------------------- */
body {
    background: hsl(360, 100%, 100%);
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    line-height: 1.5;
    min-height: 740px;
    min-width: 960px;
    -webkit-font-smoothing: antialiased;
}
hr {
    text-align: left;
    margin: 0 auto 0 0;
    color: hsl(0, 0%, 60%);
}

/* enable clicking on elements 'hiding' behind body in 3D */
body     { pointer-events: none; }
#impress { pointer-events: auto; }

/*  --------------------------------------------------
    $HEADINGS
    -------------------------------------------------- */
h1, h2, h3, h4, h5, p {
    margin-bottom: 24px;
    padding: 0;
}
h1 {
    font-size: 72px;
}
h2 {
    font-size: 60px;
    /* The bottom margin is small. It's designed to be used with gray meta text
     * below a post title. */
    margin: 24px 0 6px;
}
h3 {
    font-size: 48px;
}
h4 {
    font-size: 45px;
}
h5 {
    font-size: 42px;
}

/*  --------------------------------------------------
    $IMPRESS
    -------------------------------------------------- */
#impress {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.step {
    text-align: left;
    font-size: 32px;
    line-height: 1.5;
    padding: 40px;
    width: 960px;
    margin: 0 auto;
    
    display: inline;
    float: left;

    /* Chrome @font-face anti-aliasing fix */
    text-shadow: rgba(0,0,0,.01) 0 0 1px;

    -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
         -o-transition: opacity 1s;
            transition: opacity 1s;
}
.step:not(.active) {
    opacity: 0.3; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
    filter: alpha(opacity=30); /* IE6-IE8 */
}
.hint {
    background: rgba(0,0,0,0.5);
    color: hsl(0, 0%, 93%);
    font-size: 50px;
    padding: 20px;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 100px;

    text-align: center;
    z-index: 100;
    opacity: 0; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
    filter: alpha(opacity=0); /* IE6-IE8 */
    -webkit-transform: translateY(400px);
       -moz-transform: translateY(400px);
        -ms-transform: translateY(400px);
         -o-transform: translateY(400px);
            transform: translateY(400px);
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
       -moz-transition: opacity 1s,    -moz-transform 0.5s 1s;
        -ms-transition: opacity 1s,     -ms-transform 0.5s 1s;
         -o-transition: opacity 1s,      -o-transform 0.5s 1s;
            transition: opacity 1s,         transform 0.5s 1s;
}
.impress-on-title .hint {
    opacity: 1;
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
       -moz-transition: opacity 1s 5s,    -moz-transform 0.5s 4.5s;
        -ms-transition: opacity 1s 5s,     -ms-transform 0.5s 4.5s;
         -o-transition: opacity 1s 5s,      -o-transform 0.5s 4.5s;
            transition: opacity 1s 5s,         transform 0.5s 4.5s;
}

/* STEP SPECIFIC STYLES */
#title {
    height: 1000px;
    padding: 0;
    text-align: center;
    width: 1240px;
}
#title h1 {
    font-size: 158px;

    -webkit-transform: translateZ(50px);
       -moz-transform: translateZ(50px);
        -ms-transform: translateZ(50px);
         -o-transform: translateZ(50px);
            transform: translateZ(50px);
}
#java-footnote {
    font-size: 32px;
    text-align: center;
}
#author {
    height: 600px;
    padding: 0;
    text-align: center;
    width: 1240px;
}
#author h1 {
    font-size: 158px;

    -webkit-transform: translateZ(50px);
       -moz-transform: translateZ(50px);
        -ms-transform: translateZ(50px);
         -o-transform: translateZ(50px);
            transform: translateZ(50px);
}
#author .brought {
    font-size: 32px;
    position: absolute;
    left: 1.5em;
    top: 1.5em;
    text-align: left;

    -webkit-transform: translateZ(20px);
       -moz-transform: translateZ(20px);
        -ms-transform: translateZ(20px);
         -o-transform: translateZ(20px);
            transform: translateZ(20px);
}
#method-heading {
    line-height: 1.1;
}
#syntax-method {
    width: 1024px;
}
.impress-on-overview .step {
    cursor: pointer;
    opacity: 1; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
    filter: alpha(opacity=100); /* IE6-IE8 */
}
.fallback-message {
    background: #EEDC94;
    border: 1px solid #E4C652;
    display: none;
    font-family: sans-serif;
    line-height: 1.3;
    margin: 20px auto;
    padding: 10px 10px 0;
    width: 780px;
    -webkit-border-radius: 10px; /* Saf3-4, iOS 1-3.2, Android =1.6 */
            border-radius: 10px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */

    /* prevent bg color from leaking out of border: http://tumble.sneak.co.nz/post/928998513/fixing-the-background-bleed */
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.fallback-message p {
    margin-bottom: 10px;
}
.impress-disabled .step,
.impress-not-supported .step {
    margin: 20px auto;
    position: relative;
    opacity: 1; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
    filter: alpha(opacity=100); /* IE6-IE8 */
}
.impress-not-supported .fallback-message {
    display: block;
}

/*  --------------------------------------------------
    $CODE
    -------------------------------------------------- */
pre {
    line-height: 1em;
}
pre code {
    display: block; 
    border: 0px;
    padding: 0px;
    margin: 0px;
}
pre, code {
    font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
    font-size: 28px;
}
pre .comment,
pre .annotation,
pre .template_comment,
pre .diff .header,
pre .chunk,
pre .apache .cbracket {
    color: hsl(120, 100%, 25%);
}
pre .keyword,
pre .id,
pre .built_in,
pre .smalltalk .class,
pre .winutils,
pre .bash .variable,
pre .tex .command,
pre .header {
    color: hsl(240, 100%, 50%);
}
pre .string,
pre .title,
pre .parent,
pre .tag .value,
pre .rules .value,
pre .rules .value .number,
pre .ruby .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .instancevar,
pre .aggregate,
pre .template_tag,
pre .django .variable,
pre .addition,
pre .flow,
pre .stream,
pre .apache .tag,
pre .date,
pre .tex .formula {
    color: hsl(0, 77%, 36%);
}
pre .ruby .string,
pre .decorator,
pre .filter .argument,
pre .localvars,
pre .array,
pre .attr_selector,
pre .pseudo,
pre .pi,
pre .doctype,
pre .deletion,
pre .envvar,
pre .shebang,
pre .preprocessor,
pre .userType,
pre .apache .sqbracket,
pre .nginx .built_in,
pre .tex .special,
pre .input_number {
    color: hsl(194, 61%, 43%);
}
pre .phpdoc,
pre .javadoc,
pre .xmlDocTag {
    color: hsl(0, 0%, 50%);
}

pre .vhdl .type { font-weight: bold; }
pre .vhdl .string { color: hsl(0, 0%, 40%); }
pre .vhdl .literal { color: hsl(0, 77%, 36%); }

/*  --------------------------------------------------
    $MISC
    -------------------------------------------------- */
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
.ir { border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/*  --------------------------------------------------
    $PRINT
    -------------------------------------------------- */
@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }

    pre .str, code .str { color: #060; }
    pre .kwd, code .kwd { color: #006; font-weight: bold; }
    pre .com, code .com { color: #600; font-style: italic; }
    pre .typ, code .typ { color: #404; font-weight: bold; }
    pre .lit, code .lit { color: #044; }
    pre .pun, code .pun { color: #440; }
    pre .pln, code .pln { color: #000; }
    pre .tag, code .tag { color: #006; font-weight: bold; }
    pre .atn, code .atn { color: #404; }
    pre .atv, code .atv { color: #060; }
}