* {
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

/*	--------------------------------------------------
	$NORMALIZE
	-------------------------------------------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary { display: block }
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] { display: none }
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea { font-family: sans-serif }
body { margin: 0 }
a:focus { outline: thin dotted }
a:hover,
a:active { outline: 0 }
h1 {
    font-size: 2em;
    margin: .67em 0;
}
h2 {
    font-size: 1.5em;
    margin: .83em 0;
}
h3 {
    font-size: 1.17em;
    margin: 1em 0;
}
h4 {
    font-size: 1em;
    margin: 1.33em 0;
}
h5 {
    font-size: .83em;
    margin: 1.67em 0;
}
h6 {
    font-size: .75em;
    margin: 2.33em 0;
}
abbr[title] { border-bottom: 1px dotted }
b,
strong { font-weight: bold }
blockquote { margin: 1em 40px }
dfn { font-style: italic }
mark {
    background: #ff0;
    color: #000;
}
p,
pre { margin: 1em 0 }
pre,
code,
kbd,
samp {
    font-family: monospace,serif;
    _font-family: 'courier new',monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q { quotes: none }
q:before,
q:after {
    content: '';
    content: none;
}
small { font-size: 75% }
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em }
sub { bottom: -0.25em }
dl,
menu,
ol,
ul { margin: 1em 0 }
dd { margin: 0 0 0 40px }
menu,
ol,
ul { padding: 0 0 0 40px }
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
svg:not(:root) { overflow: hidden }
figure { margin: 0 }
form { margin: 0 }
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}
legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button,
input { line-height: normal }
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}
button[disabled],
input[disabled] { cursor: default }
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none }
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*	--------------------------------------------------
	$MAIN
	-------------------------------------------------- */
body {
    background: hsl(360, 100%, 100%);
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    min-height: 740px;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
}
#impress {
    pointer-events: auto;
}
.step {
    font-size: 48px;
    line-height: 1.5;
    padding: 40px;
    width: 900px;
    -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
         -o-transition: opacity 1s;
            transition: opacity 1s;
}
.step:not(.active) {
    opacity: 0.3; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
    filter: alpha(opacity=30); /* IE6-IE8 */
}
#title {
    padding: 0;
}
#title .try {
    font-size: 32px;
    position: absolute;
    top: -0.5em;
    left: 1.5em;

    -webkit-transform: translateZ(20px);
       -moz-transform: translateZ(20px);
        -ms-transform: translateZ(20px);
         -o-transform: translateZ(20px);
            transform: translateZ(20px);
}
#title h1 {
    font-size: 158px;

    -webkit-transform: translateZ(50px);
       -moz-transform: translateZ(50px);
        -ms-transform: translateZ(50px);
         -o-transform: translateZ(50px);
            transform: translateZ(50px);
}
#title .footnote {
    font-size: 32px;
}
.hint {
    background: rgba(0,0,0,0.5);
    color: #EEE;
    font-size: 50px;
    padding: 20px;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;

    text-align: center;
    z-index: 100;
    opacity: 0; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
    filter: alpha(opacity=0); /* IE6-IE8 */
    -webkit-transform: translateY(400px);
       -moz-transform: translateY(400px);
        -ms-transform: translateY(400px);
         -o-transform: translateY(400px);
            transform: translateY(400px);
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
       -moz-transition: opacity 1s,    -moz-transform 0.5s 1s;
        -ms-transition: opacity 1s,     -ms-transform 0.5s 1s;
         -o-transition: opacity 1s,      -o-transform 0.5s 1s;
            transition: opacity 1s,         transform 0.5s 1s;
}
.impress-on-overview .step {
    cursor: pointer;
    opacity: 1; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
    filter: alpha(opacity=100); /* IE6-IE8 */
}
.fallback-message {
    background: #EEDC94;
    border: 1px solid #E4C652;
    display: none;
    font-family: sans-serif;
    line-height: 1.3;
    margin: 20px auto;
    padding: 10px 10px 0;
    width: 780px;
    -webkit-border-radius: 10px; /* Saf3-4, iOS 1-3.2, Android =1.6 */
            border-radius: 10px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */

    /* prevent bg color from leaking out of border: http://tumble.sneak.co.nz/post/928998513/fixing-the-background-bleed */
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.fallback-message p {
    margin-bottom: 10px;
}
.impress-disabled .step,
.impress-not-supported .step {
    margin: 20px auto;
    position: relative;
    opacity: 1; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
    filter: alpha(opacity=100); /* IE6-IE8 */
}
.impress-not-supported .fallback-message {
    display: block;
}

/*	--------------------------------------------------
	$MISC
	-------------------------------------------------- */
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
.ir { border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/*	--------------------------------------------------
	$PRINT
	-------------------------------------------------- */
@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}